.ActionLinksHeader{
    text-decoration:underline;
}
.LabelSpacing{
    margin-top: 15px;
}
.container-fluid {
    background-image: url('../Images/Basketball-Court_Landscape2.png');
    min-height: 400px;
    height: 100%;
    width: 100%;
}