body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
    /*background-image: url('../Images/Basketball-Court_Landscape2.png');
    min-height: 400px;
    height: 100%;
    width: 100%;*/
}

/*   NAV BAR */


.UsernameLogout a {
   font-size: 14px;
}


/*   USER RELATED VIEWS */
.UserHeader {
    text-align: center;
}

.DivTextBoxPos {
}

.RegisterBox {
}

.LabelTextBoxSet {
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.UserSubmitBox {
    margin-top: 7px;
    margin-left: 10px;
}

.UserTable {
    margin: 0 auto;
    text-align: center;
}

    .UserTable td {
        padding: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid;
        
    }

    .UserTable th {
        padding: 5px;
        padding-bottom: 5px;
       
    }



/* PLAYER RELATED VIEWS */

.CreatePlayerTable th {
     padding: 5px;
        padding-bottom: 5px;
}
.CreatePlayerTable td {
     padding: 5px;
        padding-bottom: 5px;
}


.ViewPlayerTableClass th {
    padding: 5px;
        padding-bottom: 5px;
}

.ViewPlayerTableClass td {
     padding: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid;
}
.PlayerLabelTextBoxSet {

}




/*  TEAM */

.ViewTeamTable th,td {
            padding: 5px;
        padding-bottom: 5px;
}
.ViewTeamTable td {
            padding: 2px;
        padding-bottom: 5px;
}

.TeamTextBox {
    width: 8%;
    height: 50px;
}

.SubmitButtonPos {
    margin-top: 30px;
}

.HomeTeamTable {
    margin-top: 50px;
    border: solid;
    border-color: royalblue;
    padding: 30px;
    border-width: 5px;
}

.AwayTeamTable {
    margin-top: 50px;
    border: solid;
    border-color: red;
    padding: 30px;
    border-width: 5px;
}

.HomePlayers {
    border-top: 3px solid royalblue;
    background-color: gainsboro;
    margin-top: 20px;
    padding: 20px;
}

.AwayPlayers {
    border-top: 3px solid royalblue;
    background-color: gainsboro;
    margin-top: 20px;
    padding: 20px;
}

.ScoreBox {
    width: 10%;
    float: right;
    margin-top: -5%;
}

.ScoreLabel {
    float: right;
    margin-top: -8%;
}


.ScoreButtons {
    float: left;
    margin-top: -6%;
    margin-left: 70%;
}

    .ScoreButtons #home3point {
        margin-left: 20%;
    }


.ViewPlayerTableClass {
}
