@model BasketballScoreBook.Models.TeamViewModel
@{
    ViewBag.Title = "CreateTeam";
}

<h2>CreateTeam</h2>

@using (Html.BeginForm("CreateTeam", "Team", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <table>
        <tr>
            <th>Team Name,Level & Gender</th>
            
        </tr>

        <tr>
            <td>@Html.TextBoxFor(m => m.SingleTeam.TeamName)</td>
            
        </tr>
    </table>

<input type="submit" value="Submit" />
}
