@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.TeamViewModel
@{
    ViewBag.Title = "UpdateTeamName";
}

<h2 class="UserHeader">Update Team Name</h2>

@using (Html.BeginForm("UpdateTeamName", "Team", FormMethod.Post))
{
    <table class="CreatePlayerTable">
        <tr>
            <td>@Html.HiddenFor(m => m.SingleTeam.TeamID)</td>
        </tr>
        <tr>
            <th> Current Team Name</th>
            <td> @Html.DisplayFor(m => m.SingleTeam.TeamName)</td>
        </tr>
        <tr>
            <th> Input New Team Name </th>
            <td>@Html.TextBoxFor(m => m.SingleTeam.TeamName, new { @class = "form-control", placeholder = "Input New Team Name", @type = "text" }) </td>
        </tr>

    </table>
        <input type="submit" value="Submit" />
}
