@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.GameViewModel
@{
    ViewBag.Title = "CreateGame";
}

<h2>CreateGame</h2>
@using (Html.BeginForm("CreateGame", "Game", FormMethod.Post))
{
    <table>
        <tr>
            <th>Home Team</th>

        </tr>
        <tr>
            <td>@Html.DropDownListFor(m => m.SingleGame.HomeTeamID, new SelectList(ViewBag.TeamsList, "TeamID", "TeamName"), new { @id = "HomeTeamDropDownList", @class = "form-control" }) </td>

        </tr>

    </table>

    <table>
        <tr>
            <th>Away Team</th>
        </tr>

        <tr>
            <td>@Html.DropDownListFor(m => m.SingleGame.AwayTeamID, new SelectList(ViewBag.TeamsList, "TeamID", "TeamName"), new { @id = "AwayTeamDropDownList", @class = "form-control" }) </td>

        </tr>
    </table>
    <div class="UserSubmitBox">
        <input type="submit" value="Submit" />
    </div>
}


<script>
    $(document).ready(function () {
        $("ShowHomeTeamName").hide();
        $("ShowAwayTeamName").hide();
        $("#HomeTeamDropDownList").click(function () {
            ShowHomeTeamName()
        });
        $("#AwayTeamDropDownList").click(function () {
            ShowAwayTeamName()
        });
    });

</script>
