@model BasketballScoreBook.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}

<h2 class="Headers">Login</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{

    <div class="UsernamePasswordBox">
        <div class="UsernameLabelTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.UserName)
            </div>
            <div class="DivTextBoxPos">
                @Html.TextBoxFor(m => m.SingleUser.UserName, new { @class = "form-control", placeholder = "Username", @type = "text" })
            </div>
        </div>
        
        <div class="PasswordTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.Password)
            </div>
            <div class="DivTextBoxPos">
                @Html.TextBoxFor(m => m.SingleUser.Password, new { @class = "form-control", placeholder = "Password", @type = "password" })
            </div>
        </div>

    </div>
    <div id="LoginSubmit">
        <input type="submit" value="Submit" />
    </div>
}
